<div class="jumbotron">
    <h1>Documentos</h1>

    <div>
        <span *ngIf="!files">No hay nada que ver</span>
        <ul>
            <li *ngFor="let file of files" class="item">
                <div class="file-name">
                    Nombre: {{ file.name }}
                </div>

                <div class="links">
                    <a target="_blank" class="link-document" [href]="file.link">Editar</a>

                    <a class="link-document" [routerLink]="['/documents/visor', file.source, file.name]">Ver</a>
                </div>
            </li>
        </ul>
    </div>
</div>